<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>HELP</title>
  </head>
  <body>
 <div class="container">
     {{>header}}
    <h1>this is a page which is going to show the help options</h1>
    <p>created by {{name}}</p>
    <img src="/img/prototype-chain.png" alt="IMG" />
    {{>footer}}
 </div>
  </body>
</html>